# Redis Configuration Example
REDIS_PASSWORD=minirag_redis_2222

# Persistence
# Saves every write operation to disk
# So if Redis restarts, data isn't lost
REDIS_APPENDONLY=yes

# Memory Management
REDIS_MAXMEMORY=512mb
# When memory is full → delete least recently used keys
# LRU = Least Recently Used
REDIS_MAXMEMORY_POLICY=allkeys-lru

# Security
# Only accept connections from localhost
# Extra security layer
REDIS_PROTECTED_MODE=yes