APP_NAME="mini-RAG"
APP_VERSION="0.1"

OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=[""]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB

MONGODB_URL=""
MONGODB_DB_NAME=""

POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="minirag"

# ============================== LLM Configurations ==============================
GENERATION_BACKEDND="OPENAI"
EMBEDDING_BACKEDND="COHERE"

OPENAI_API_KEY=""
OPENAI_API_URL=""
COHERE_API_KEY=""
OLLAMA_API_URL=""
OLLAMA_API_KEY=""

GENERATION_MODEL_ID="gpt-4o-mini-2024-07-18"
EMBEDDING_MODEL_ID="embed-multilingual-v3.0"
EMBEDDING_MODEL_SIZE=1024

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

# ============================== VectorDB Configurations ==============================
VECTOR_DB_BACKEND_LITERAL=["QDRANT", "PGVECTOR"]
VECTOR_DB_BACKEND="PGVECTOR"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="COSINE"
VECTOR_DB_PGVEC_INDEX_THRESHOLD = 100

# ========================= Template Configs =========================
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"

# ========================= Celery Task Queue Config =========================
CELERY_BROKER_URL="amqp://minirag_user:minirag_rabbitmq_2222@localhost:5672/minirag_vhost"
CELERY_RESULT_BACKEND="redis://:minirag_redis_2222@localhost:6379/0"
CELERY_TASK_SERIALIZER="json"
CELERY_TASK_TIME_LIMIT=600
CELERY_TASK_ACKS_LATE=false
CELERY_WORKER_CONCURRENCY=2
CELERY_FLOWER_PASSWORD="minirag_flower_2222"
