fastapi==0.135.2
uvicorn[standard]==0.42.0
python-multipart==0.0.22
python-dotenv==1.2.2
pydantic-settings==2.13.1
aiofiles==25.1.0
langchain==1.2.13
PyMuPDF==1.27.2.2
langchain-community==0.4.1
motor==3.7.1
openai==2.30.0
cohere==5.21.1
ollama==0.6.1
qdrant-client==1.17.1
langdetect==1.0.9
SQLAlchemy==2.0.49
asyncpg==0.31.0
alembic==1.18.4
psycopg2==2.9.11
pgvector==0.4.2
nltk==3.9.4

#Monitoring and Metrics
prometheus-client==0.25.0
starlette-exporter==0.23.0

#Health Check
fastapi-health==0.4.0
